*{
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}

li{
  font-size: 25px;
  font-weight: 600;
  list-style-type: "👉";
  cursor: grab;
  overflow-wrap: break-word;
}

h1{
  font-size: 30px;
  font-weight: 600;
}

.App{
  border: 5px solid blue;
  margin: 50px 300px;
  padding: 25px 15px;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  overflow-wrap: break-word;
}

.done{
  text-decoration: line-through;
}

.delete{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete span{
  margin-left: 150px;
}

.delete li{
  margin-right: 50px;
}

.trash{
  cursor: pointer;
}